name: Integration test for setup-aws-iam-authenticator
on: # rebuild any PRs and main branch changes
   pull_request:
      branches:
         - main
         - 'releases/*'
   push:
      branches:
         - main
         - 'releases/*'

jobs:
   run-integration-test:
      name: Validate release and master branch
      runs-on: ubuntu-latest
      env:
         PR_BASE_REF: ${{ github.event.pull_request.base.ref }}
      steps:
         - uses: actions/checkout@v2
           name: Checkout from PR branch

         - id: action-npm-build
           name: npm install and build
           run: |
              echo $PR_BASE_REF
              if [[ $PR_BASE_REF != releases/* ]]; then
                npm install
                npm run build
              fi

         - uses: actions/setup-python@v2
           name: Install Python
           with:
              python-version: '3.x'

         - name: Install requests library
           run: pip install requests

         - name: Setup aws-iam-authenticator
           uses: ./
           with:
              version: 'v0.5.9'

         - name: Fetch aws-iam-authenticator latest version dynamically and validate the setup
           run: python test/validate-aws-iam-authenticator.py latest

         - name: Set specific aws-iam-authenticator version and validate the setup
           run: python test/validate-aws-iam-authenticator.py 'v0.5.9'
